.page-header-container {
    background-color:  var(--color-primary-lighter);
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .page-title {
    font-weight: 600;
    color: var(--color-primary-dark);
    font-size: 1.4rem;
    margin: 0;
  }

  .page-content{
    margin: 1.5rem;;
  }
  
  